# Byte-compiled / optimized / DLL files
__pycache__/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
venv/

# Test files
.old
notepad.py

# Archive and assets
archive/*
audio/*
image/*
tmp/*
prompts.py
.zip